{
  "plugins": [
        ["@babel/plugin-transform-react-jsx", { "pragma":"h" }],
        ["@babel/syntax-dynamic-import"],
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ]
}
