.card {

  h4 {
    margin: 1rem 0;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  svg {
    path {
      fill: var(--primary);
    }
  }
}