.roadmaps {
    width: 100%;
    max-width: 800px;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-bottom: 2rem;
    background: transparent;
}
