footer {
    margin-top: auto;
    background: var(--secondary);

    .container {
        padding: 0.618rem 1rem;

        span {
            font-size: 0.618rem;
            color: white;
        }
    }
}